@font-face {
    font-family: 'Roboro-Regular', sans-serif;
    src: url('../fonts/Roboro-Regular.woff2') format('woff2'), url('../fonts/Roboro-Regular.woff') format('woff');
    font-display: swap;
}